#LangSmith Tracing
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="Artha-Analytics"

# App
PROMPT_PATH=./app/prompts/analyze.yaml

# Groq
GROQ_MODEL=meta-llama/llama-4-scout-17b-16e-instruct
GROQ_API_KEY=

#Tavily
TAVILY_API_KEY=

# MongoDB
MONGO_URI=