#LangSmith Tracing
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="Artha-Analytics"

# App
PROMPT_PATH=./app/prompts/analyze.yaml


OPEN_ROUTER_MODEL=

OPEN_ROUTER_API_KEY=

# Tavily
TAVILY_API_KEY=

# MongoDB
MONGODB_URI=

# FALLBACK URL FOR DATA
INDIANAPI_BASE_URL="https://stock.indianapi.in"
INDIANAPI_API_KEY="your_indianapi_key_here"
